@font-face {
  font-family: "maple-bold";
  src: url("./font/Maplestory\ Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "maple-light";
  src: url("./font/Maplestory\ Light.ttf");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-none {
  display: none;
}

body {
  font-size: 18px;
  font-family: "maple-light";
}

.main-colum {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding: 20px;
}

.info-div {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-left: 10px;
  padding-bottom: 50px;
}

.info-div-rel {
  position: relative;
}

.info-div-slide {
  width: 430px;
  height: 430px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}

.info-div-slide-item {
  height: 100%;
  display: inline-flex;
  /* display: table-cell; */
}

.info-div-slide-item img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.arrow {
  display: flex;
  justify-content: space-between;
}

.info-div-rel input {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  /* appearance: none; */
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}

.item-slide-div-label {
  position: relative;
}

.item-slide-div {
  position: absolute;
  bottom: -40px;
  left: 90px;
}
.arrow .left {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  left: 0;
  top: 50%;
}
.arrow .right {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  top: 50%;
  right: 0;
}
.item-slide-div label {
  padding: 50px;
  cursor: pointer;
  position: absolute;
  top: -305px;
  display: none;
}

#item-slide01:checked ~ .item-slide-div-label .control1 label,
#item-slide02:checked ~ .item-slide-div-label .control2 label,
#item-slide03:checked ~ .item-slide-div-label .control3 label,
#item-slide04:checked ~ .item-slide-div-label .control4 label {
  display: block;
}

input[id="item-slide01"]:checked ~ .info-div-slide > li {
  transform: translateX(0%);
}
input[id="item-slide02"]:checked ~ .info-div-slide > li {
  transform: translateX(-100%);
}
input[id="item-slide03"]:checked ~ .info-div-slide > li {
  transform: translateX(-200%);
}
input[id="item-slide04"]:checked ~ .info-div-slide > li {
  transform: translateX(-300%);
}

.info-div-info {
  flex-grow: 1;
  flex: 2 3 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 30px;
}

.info-div-info-head {
  flex: 2;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info-div-info-body {
  flex: 4;
  border-top: 1px solid rgb(220, 219, 228);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: gray;
}
.info-div-info-foot {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

#price-num {
  display: inline;
}

.info-div-info-head span {
  font-size: 26px;
  font-weight: normal;
  margin-left: 10px;
}

button {
  width: 200px;
  height: 70px;
  padding: 5px;
  border: none;
  font-size: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgb(238, 111, 45);
}

button:hover {
  background-color: rgb(215, 88, 22);
}

.wish-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.wish-btn img {
  width: 24px;
}

.chat-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chat-btn img {
  width: 26px;
}

.info-div-info-body * img {
  width: 16px;
  margin-left: 25px;
}

.info-div-info-body * img:first-child {
  width: 16px;
  height: 17px;
  margin-left: 0;
  border: none;
}

.info-div-info-body * img:nth-child(3) {
  width: 21px;
  height: 13px;
}

.info-div-info-body-inner {
  display: inline-block;
  width: 100px;
}

#seller-categories {
  display: inline-block;
  font-size: 28px;
  padding-right: 20px;
}

#seller-id {
  border-left: 1px solid rgb(220, 219, 228);
  padding-left: 20px;
  font-size: 28px;
}

.read-more-div {
  padding: 30px;
  padding-left: 10px;
  border-bottom: 2px solid black;
}

.read-more-div-inner {
  border-top: 1px solid rgb(220, 219, 228);
  border-bottom: 1px solid rgb(220, 219, 228);
  padding: 30px;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.read-more-div-warn {
  padding: 30px;
  padding-left: 10px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 2px;
}

#subtitle-text {
  height: 300px;
}

.read-more-div-warn {
  padding: 30px;
  background-color: rgb(255, 240, 229);
}

.read-more-div-warn ins {
  color: rgb(215, 88, 22);
}

.read-more-div-warn div:first-child {
  margin-bottom: 10px;
  color: rgb(215, 88, 22);
}

.read-more-div-warn div:nth-child(2) {
  margin-bottom: 5px;
}

.read-more-div-warn div:first-child img {
  width: 13px;
}

.read-more-div-banner {
  border-bottom: 1px solid rgb(220, 219, 228);
  padding: 30px;
  padding-top: 0;
  padding-left: 10px;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.read-more-div-banner input[id*="slide"] {
  display: none;
}

.read-more-div-banner input[id*="slide"] {
  /* display: none; */
  display: inline-block;
  position: relative;
  bottom: -245px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  appearance: none;
  background-color: rgb(238, 111, 45);
  border-radius: 10px;
  transition: all 0.5s;
}

.read-more-div-banner input[id*="slide"]:checked {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.slidewrap {
  overflow: hidden;
}

.slidelist {
  white-space: nowrap;
  font-size: 0;
}

.slidelist > li {
  display: inline-block;
  width: 100%;
  transition: all 0.5s;
}

.slidelist > li > a {
  display: block;
}

.slidelist {
  position: relative;
}

.slidelist > li > a img {
  width: 100%;
}

.slidelist label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

.slide-control [class*="control"] {
  display: none;
}

.slide-control [class*="control"] .left {
  left: -30px;
  background: url("../image/left.png") center center / 100% no-repeat;
}
.slide-control [class*="control"] .right {
  right: -30px;
  background: url("../image/right.png") center center / 100% no-repeat;
}

#slide01:checked ~ .slidewrap .control1,
#slide02:checked ~ .slidewrap .control2,
#slide03:checked ~ .slidewrap .control3,
#slide04:checked ~ .slidewrap .control4 {
  display: block;
}

input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}
input[id="slide04"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-300%);
}

/*  */
/*  */
/*  */
/*  */
/*  */

body.start div {
  font-family: "JSArirang-Regular";
  font-size: 120%;
}
body.start .satan {
  font-family: "satan";
}

.top-container {
  width: 100%;
  /* position: fixed; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  background-color: rgb(245, 242, 250);
  font-size: 16px;
  opacity: 0.97;
  z-index: 999;
}

.top-container,
.footer-container,
.footer-container ~ * {
  font-weight: bold;
}

.top-container.start {
  background-color: black;
}

.top-container div {
  display: flex;
}

.home-box {
  height: 100%;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

body.start .home-box {
  margin-left: 0;
}

body.start .home-box div {
  font-size: 100px;
  color: white;
}
.home-box div {
  height: 100%;
  align-items: center;
}

.category-box {
  margin: 0 20px;
}
.home-box div img:first-child {
  height: 130%;
}

.home-box div img:last-child {
  height: 90%;
}

.category-box a {
  cursor: pointer;
  width: 100px;
}

body.start .category-box a {
  color: white;
}

.category-box a:hover {
  color: gray;
}

.user-box {
  margin: 0 20px;
  align-items: center;
}

.user-box button {
  cursor: pointer;
  padding: 10;
  margin: 0 10;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #ffead8;
  font-family: "maple-bold";
  font-size: 14px;
}

body.start .user-box button {
  background-color: black;
  color: white;
  font-family: "JSArirang-Regular";
  font-size: 120%;
}

.user-box button:hover {
  background-color: #ffd4d1;
}

.user-box a {
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #ffead8;
  font-size: 14px;
  font-family: "maple-bold";
  text-align: center;
}

body.start .user-box a {
  background-color: black;
  color: white;
  font-family: "JSArirang-Regular";
  font-size: 120%;
}

.user-box a:hover {
  background-color: #ffd4d1;
}

#sign-in.off,
#sign-up.off {
  display: none;
}

#sign-out,
#item-upload,
#user-info {
  display: none;
}

#sign-out.on,
#item-upload.on,
#user-info.on {
  display: block;
}

#chatting {
  display: none;
}

#chatting.on {
  display: block;
}

#loginDisplay {
  width: 150px;
  align-items: center;
  display: none;
}
#loginDisplay div:first-child {
  margin-left: 20px;
}

#search {
  background-color: lightgray;
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-family: arial;
}

.home-second {
  width: 100%;
  height: 724px;
  padding-top: 100px;
  background-color: rgb(238, 254, 255);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-second div div:first-child {
  font-size: 2.5rem;
}

.div-img {
  width: fit-content;
  border-radius: 15px;
  margin-right: 10rem;
}

.reverse img:first-child {
  display: block;
}

.reverse.start img:first-child {
  display: none;
}

.reverse img:last-child {
  display: none;
}

.reverse.start img:last-child {
  display: block;
}

.home-second div img {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 10px #8abbff);
}

.home-first div img {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 10px #f98f68);
}

.btnbox {
  padding-top: 30px;
}

.btnbox button {
  border: none;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.btnbox button:hover {
  background-color: gray;
}
.home-first {
  width: 100%;

  height: 724px;
  background-color: rgb(254, 240, 214);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.home-first div:first-child {
  margin-right: 150px;
}

.home-first div div:first-child {
  font-size: 2.5rem;
}

body.start .home-first div div:first-child {
  font-size: 250%;
  line-height: 50px;
  margin-bottom: 30px;
}

.bgc.start {
  background-color: black;
  color: white;
}

#invert {
  filter: invert(100%);
}

#reverse img {
  width: 120px;
}

#reverse.start img {
  width: 80px;
  margin-right: 30px;
}

#item-board-title {
  font-size: 100px;
  text-align: center;
  padding: 100px;
}

.item-category-box {
  display: flex;
  padding: 50px;
  justify-content: flex-end;
}

select {
  margin: 10px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.item-board-display {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.item {
  margin-bottom: 50px;
  width: calc(25% - 40px);
}

.item-board.bgc.start a {
  color: white;
}

.item-link {
  width: 100%;
}

.item-top {
  width: 300px;
  height: 300px;
}

.item-top .item-img img {
  width: 80%;
  height: 100%;
}

.item-bottom {
  display: flex;
}

.item-title {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.footer-container img {
  width: 150px;
}

#spantext {
  border-top: 1px var black;
  text-align: center;
}

body.start .footer-container {
  font-size: 200px;
}

body.start .footer-container #invert {
  width: 500px;
  display: none;
}

section {
  padding: 20px;
  text-align: center;
}

section a {
  margin: 0 10px;
}
