* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(251, 247, 242);
}

h2 {
  margin-bottom: 10px;
  letter-spacing: 10px;
}

.container {
  margin: 3%;
  text-align: center;
}

.form-group {
  width: 70%;
  margin: 0 auto;
}

#post-title:focus,
#post-body:focus {
  border: 2px solid rgba(86, 194, 113, 0.5);
  outline: 2px solid rgba(86, 194, 113, 0.5);
}

#post-title,
#post-body {
  font-size: 22px;
  margin: 15px;
  border: 2px solid rgb(114, 114, 114);
  outline: 2px solid rgba(0, 0, 0, 0);
  padding: 5px;
}

select {
  margin-right: 20px;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 16px;
  border: 1px solid rgb(114, 114, 114);
}

input,
textarea,
form {
  width: 100%;
}

#post-title {
  font-weight: bolder;
}

#post-body {
  height: 500px;
  resize: none;
}

#img-uploader {
  display: none;
}

#img-uploader-label {
  cursor: pointer;
  background-color: rgb(238, 111, 45);
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

button {
  background-color: rgb(86, 194, 113);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin: 30px 50px;
  transition: background-color 0.4s;
}

button:hover {
  background-color: rgb(238, 111, 45);
}
