@font-face {
  font-family: "maple-bold";
  src: url("./font/Maplestory\ Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "maple-light";
  src: url("./font/Maplestory\ Light.ttf");
  font-weight: normal;
}
html {
  font-family: "maple-bold";
  background: #ede5d4;
}
* {
  margin: 0;
  padding: 0;
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.15;
  }
  20% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.25;
  }
  30% {
    opacity: 0.3;
  }
  35% {
    opacity: 0.35;
  }
  40% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.45;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.55;
  }
  60% {
    opacity: 0.6;
  }
  65% {
    opacity: 0.65;
  }
  70% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.8;
  }
  85% {
    opacity: 0.85;
  }
  90% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RfadeInTitle {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.95;
  }
  35% {
    opacity: 0.9;
  }
  45% {
    opacity: 0.85;
  }
  55% {
    opacity: 0.8;
  }
  65% {
    opacity: 0.75;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.65;
  }
  100% {
    opacity: 0.6;
  }
}
#no1back {
  z-index: 2;
  opacity: 0.83;
}
#mainback {
  width: 100%;
  display: flex;

  -webkit-animation: 1s fadeInTitle ease;
  -moz-animation: 1s fadeInTitle ease;
  -o-animation: 1s fadeInTitle ease;
  animation: 1s fadeInTitle ease;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
#no1backimg {
  position: absolute;
  float: right;

  top: 43%;
  left: 66%;
  width: 30%;
  opacity: 0.63;
  -webkit-animation: 1s RfadeInTitle ease;
  -moz-animation: 1s RfadeInTitle ease;
  -o-animation: 1s RfadeInTitle ease;
  animation: 1s RfadeInTitle ease;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
body.start #no1backimg img {
  display: flex;
  position: absolute;
  float: right;

  top: 43%;
  left: 66%;
  width: 30%;
  opacity: 0.63;
  -webkit-animation: 1s RfadeInTitle ease;
  -moz-animation: 1s RfadeInTitle ease;
  -o-animation: 1s RfadeInTitle ease;
  animation: 1s RfadeInTitle ease;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
#bgp {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border: none;
  border-radius: 5%;

  margin-top: 50px;
  margin-left: 27%;
  width: 700px;
  -webkit-animation: 3s fadeInTitle ease;
  -moz-animation: 3s fadeInTitle ease;
  -o-animation: 3s fadeInTitle ease;
  animation: 2s fadeInTitle ease;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
#bgp2 {
  display: none;
  -webkit-animation: 2s fadeInTitle ease;
  -moz-animation: 2s fadeInTitle ease;
  -o-animation: 2s fadeInTitle ease;
  animation: 2s fadeInTitle ease;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
/* ------------------------ 내 물건 거래---------------------------- */
#bgp3 {
  display: none;
  position: relative;
  z-index: 2;

  flex-direction: column;
  border: 1px solid black;
  border: none;
  border-radius: 5%;

  width: 700px;
  -webkit-animation: 1.6s fadeInTitle ease;
  -moz-animation: 1.6s fadeInTitle ease;
  -o-animation: 1.6s fadeInTitle ease;
  animation: 1.6s fadeInTitle ease;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
.item-board-display {
  display: flex;
  justify-content: space-around;
  box-sizing: content-box;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #a5a094;
  border-radius: 10px;
  width: 700px;
  margin: auto;
  opacity: 0.8;
  background-color: #f4efe5;
}
.item-board-display .item-top :nth-child(1) {
  height: 124px;
  margin-top: 20px;
}
.item-board-display .item-top :nth-child(2) {
  height: 124px;

  margin-top: 20px;
}
.item-board-display .item-top :nth-child(3) {
  height: 124px;

  margin-top: 20px;
}
#itemBoardtitle {
  display: flex;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  box-sizing: content-box;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 40px;
  opacity: 0.8;
  -webkit-animation: 2s fadeInTitle ease;
  -moz-animation: 2s fadeInTitle ease;
  -o-animation: 2s fadeInTitle ease;
  animation: 2s fadeInTitle ease;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  font-size: 27px;
  padding-left: 10px;
}

.item-middle .item-title:first-child {
  margin-top: 20px;
}

.item {
  margin-bottom: 50px;
  width: calc(100% / 3);
}

.item-board.bgc.start a {
  color: white;
}

.item-link {
  width: 100%;
  justify-content: center;
  pointer-events: none;
}

.item-top {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  pointer-events: fill;
}

.item-img {
  height: 100%;
}

.item-top .item-img img {
  width: 100%;
}

.item-bottom {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  gap: 5px;
}

.item-title {
  width: 200px;
  margin-left: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.item-price {
  margin-left: 28px;
}
.item-local {
  margin-left: 28px;
}
/* ------------------- 내물건 거래 끝--------------------- */
#menu {
  display: flex;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  box-sizing: content-box;
  position: relative;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 40px;
  opacity: 0.8;
  -webkit-animation: 2s fadeInTitle ease;
  -moz-animation: 2s fadeInTitle ease;
  -o-animation: 2s fadeInTitle ease;
  animation: 2s fadeInTitle ease;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
#menu2 {
  display: flex;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 40px;
  -webkit-animation: 3s fadeInTitle ease;
  -moz-animation: 3s fadeInTitle ease;
  -o-animation: 3s fadeInTitle ease;
  animation: 3s fadeInTitle ease;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
#menu3 {
  display: flex;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  width: 100%;
  height: 40px;
  -webkit-animation: 2s fadeInTitle ease;
  -moz-animation: 2s fadeInTitle ease;
  -o-animation: 2s fadeInTitle ease;
  animation: 2s fadeInTitle ease;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
#menugear {
  display: flex;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
#menugear2 {
  display: flex;
  padding: auto;
  position: relative;
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#gear {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
#imgNameedit {
  margin-left: 22px;
}
#menuTitle {
  width: 200px;
  height: 20px;
  display: flex;
  position: relative;
  font-size: 27px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#menuTitle2 {
  width: 200px;
  height: 20px;
  display: flex;
  position: relative;
  font-size: 27px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#backmp {
  margin-top: 4;
  margin-left: 2px;
}
#backmp2 {
  margin-left: 2px;
}
#imgName {
  display: flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  opacity: 0.8;
  align-items: center;
  position: relative;
  border: 1px solid black;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  -webkit-animation: 2.5s fadeInTitle ease;
  -moz-animation: 2.5s fadeInTitle ease;
  -o-animation: 2.5s fadeInTitle ease;
  animation: 2.5s fadeInTitle ease;
  -webkit-transition: opacity 2.5s;
  -moz-transition: opacity 2.5s;
  -o-transition: opacity 2.5s;
  transition: opacity 2.5s;
}

#menu {
  display: flex;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  box-sizing: content-box;
  justify-content: space-between;
  position: relative;
  justify-content: space-between;
  border: 1px solid black;

  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  border-radius: 10px;
  width: 100%;

  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: 2s fadeInTitle ease;
  -moz-animation: 2s fadeInTitle ease;
  -o-animation: 2s fadeInTitle ease;
  animation: 2s fadeInTitle ease;
}
#imgName2 {
  display: flex;
  box-sizing: content-box;

  justify-content: center;
  align-items: center;

  position: relative;
  border: 1px solid black;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  border-radius: 10px;
  width: 100%;

  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: 2s fadeInTitle ease;
  -moz-animation: 2s fadeInTitle ease;
  -o-animation: 2s fadeInTitle ease;
  animation: 2s fadeInTitle ease;
}
#photo {
  position: relative;
  width: 90px;
  height: 90px;
}
#testuser {
  margin-top: 5px;
  margin-left: 5px;
  width: 80px;
  height: 80px;
}
#userinfo {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 30px;
  width: 300px;
}

#testuser2 {
  margin-top: 5px;
  margin-left: 5px;
  width: 90px;
  height: 90px;
}

#userid {
  margin: 5px;
  width: 200px;
}
#username {
  margin: 5px;
  width: 200px;
}
#userlocal {
  margin: 5px;
  width: 200px;
}
#proflie {
  display: flex;
  width: 50px;
  margin-left: 215px;
  margin-right: 5px;
  cursor: pointer;
}
#arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#arrow2 {
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#arrow3 {
  margin: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#pay {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 4.2px dashed orange;
  border-radius: 10px;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  width: 99.2%;
  height: 50px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);

  -webkit-animation: 3s fadeInTitle ease;
  -moz-animation: 3s fadeInTitle ease;
  -o-animation: 3s fadeInTitle ease;
  animation: 3s fadeInTitle ease;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
#editName {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: 1s fadeInTitle ease;
  -moz-animation: 1s fadeInTitle ease;
  -o-animation: 1s fadeInTitle ease;
  animation: 1s fadeInTitle ease;
  width: 100%;
  opacity: 0.8;
}
#payimg {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
#paytitle {
  width: 20px;
  display: flex;
  position: relative;
  font-size: 20px;
  margin-left: 10px;
}
#editTitle {
  display: flex;
  margin-left: 20px;
  margin-left: 120px;
  margin-bottom: 10px;
  margin-top: 30px;
}
#paybody {
  display: inline-block;
  position: relative;
  font-size: 20px;
  margin-left: 300px;
}
#editbody {
  display: inline-block;
  position: relative;
  margin-left: 120px;
}
#editbody2 {
  display: inline-block;
  position: relative;
  margin-left: 120px;
}
#editlocal {
  display: inline-block;
  position: relative;
  margin-left: 120px;
}
#editbtn {
  display: flex;
  margin-left: 550px;
  border: none;
  background: none;
}
#editbtn2 {
  border: none;
  background: none;
}
#editbtnimg {
  width: 40px;
  height: 40px;
}
#payimg {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
#paytitle {
  width: 20px;
  display: flex;
  position: relative;
  font-size: 20px;
  margin-left: 10px;
}
#paybody {
  display: inline-block;
  position: relative;
  font-size: 20px;
  margin-left: 300px;
}

#list {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  background-color: rgba(255, 255, 255, 0.5);

  -webkit-animation: 3.5s fadeInTitle ease;
  -moz-animation: 3.5s fadeInTitle ease;
  -o-animation: 3.5s fadeInTitle ease;
  animation: 3.5s fadeInTitle ease;
  -webkit-transition: opacity 3.5s;
  -moz-transition: opacity 3.5s;
  -o-transition: opacity 3.5s;
  transition: opacity 3.5s;
  width: 100%;
  opacity: 0.8;
}
#listItemall {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}
#itemtitle {
  display: flex;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 160px;
  height: 20px;
}
#item1234 {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}
#item1 {
  position: relative;
  margin-right: 50px;
  width: 50px;
  cursor: pointer;
}
#item2 {
  position: relative;
  margin-right: 50px;
  width: 50px;
  cursor: pointer;
}
#item3 {
  position: relative;
  margin-right: 50px;
  width: 50px;
  cursor: pointer;
}
#item4 {
  position: relative;
  margin-right: 110px;
  width: 50px;
  cursor: pointer;
}
#item1img {
  position: relative;
  margin-top: 26px;
  width: 50px;
}
#item2img {
  position: relative;
  margin-top: 26px;
  width: 50px;
}
#item3img {
  position: relative;
  margin-top: 26px;
  width: 50px;
}
#item4img {
  position: relative;
  margin-top: 26px;
  width: 50px;
}
#item1title {
  display: flex;
  margin-left: -38px;
  margin-right: 45px;
  cursor: pointer;
}
#item2title {
  display: flex;
  margin-right: 40px;
  cursor: pointer;
}
#item3title {
  display: flex;
  margin-left: -20px;
  margin-right: 50px;
  cursor: pointer;
}
#item4title {
  display: flex;
  cursor: pointer;
}
#listItemtitle {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-left: 265px;
}

#myPlace {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100px;

  opacity: 0.8;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: 3.7s fadeInTitle ease;
  -moz-animation: 3.7s fadeInTitle ease;
  -o-animation: 3.7s fadeInTitle ease;
  animation: 3.7s fadeInTitle ease;
  -webkit-transition: opacity 3.7s;
  -moz-transition: opacity 3.7s;
  -o-transition: opacity 3.7s;
  transition: opacity 3.7s;
}
#myPlaceno1 {
  display: block;
  position: relative;
  width: 50px;
}
#myPlacetitle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 160px;
  height: 20px;
  border-radius: 30px;
  margin-left: 5px;
}
#myPlacelocal {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  height: 66px;
  margin-left: 180px;
}

#myPlacelocalimg {
  width: 50px;
  height: 50px;
}

#myPlacelocaltitle {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin-left: -10px;
}
#myPlaceService {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  margin: auto;
}
#myPlacelocalservice {
  width: 80px;
}
#servicecenter {
  width: 50px;
  height: 50px;
}
#myPlacealim {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  height: 66px;
  margin: auto;
}
#myPlacealimtitle {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 140px;
  height: 50px;
  margin-left: -20px;
  margin-right: 30px;
}
#alim {
  width: 50px;
  height: 50px;
}
#myPlacemeil {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  height: 66px;
  margin: auto;
}
#myPlacemail {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  height: 66px;
  margin: auto;
}
#meil {
  width: 50px;
  height: 50px;
}
#myPlaceemailtitle {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}
#master {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;

  width: 100%;

  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 100px;

  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: 4s fadeInTitle ease;
  -moz-animation: 4s fadeInTitle ease;
  -o-animation: 4s fadeInTitle ease;
  animation: 4s fadeInTitle ease;
  -webkit-transition: opacity 4s;
  -moz-transition: opacity 4s;
  -o-transition: opacity 4s;
  transition: opacity 4s;
  opacity: 0.8;
}

#mastertitle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 160px;
  height: 20px;
  border-radius: 30px;
  margin-left: 5px;
}
.masterAdd {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 160px;
}
#masterprofileimg {
  width: 50px;
  height: 50px;
}
#masterprofileimg1 {
  width: 50px;
  height: 50px;
}
#masterprofileimg2 {
  width: 50px;
  height: 50px;
}
#masterprofiletitle {
  display: flex;
  align-items: center;
}
#editinput {
  margin: 5px 0 10px 0;
  width: 250px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  font-size: 12px;
  border-bottom: 1px solid lightslategray;
  opacity: 0.8;
}
#editinput2 {
  margin: 5px 0 10px 0;
  width: 250px;
  height: 30px;
  outline: none;
  border: none;
  background: none;
  font-size: 12px;
  border-bottom: 1px solid lightslategray;
  opacity: 0.8;
}

.top-container {
  width: 100%;
  /* position: fixed; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  background-color: rgb(245, 242, 250);
  /* background-color: rgb(231, 231, 248); */

  opacity: 0.97;
  z-index: 999;
  top: 0;
}

.top-container.start {
  background-color: black;
}

.top-container div {
  display: flex;
}

.home-box {
  height: 100%;
  margin-left: 100;
  display: flex;
  align-items: center;
  /* cursor: pointer; */
}

body.start .home-box {
  margin-left: 0;
}

body.start .home-box div {
  font-size: 100px;
  color: white;
}
.home-box div {
  height: 100%;
  align-items: center;
}

.category-box {
  /* width: 45%; */
  /* margin-left: 20; */
  margin: 0 20px;
  /* flex:3 */
}
.home-box div img:first-child {
  height: 130%;
}

.home-box div img:last-child {
  height: 90%;
  /* display: none; */
}

.category-box a {
  cursor: pointer;
  /* margin-left: 100; */
  width: 100px;
}

body.start .category-box a {
  color: white;
}

.category-box a:hover {
  color: gray;
}

.user-box {
  margin: 0 20;
  align-items: center;
}

.user-box button {
  cursor: pointer;
  padding: 10;
  margin: 0 10;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #ffead8;
  font-family: "maple-bold";
  font-size: 14px;
}

body.start .user-box button {
  background-color: black;
  color: white;
  font-family: "JSArirang-Regular";
  font-size: 110%;
}

.user-box button:hover {
  background-color: #ffd4d1;
}

.user-box a {
  cursor: pointer;
  padding: 10;
  margin: 0 10;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #ffead8;
  font-size: 14px;
  font-family: "maple-bold";
  text-align: center;
}

body.start .user-box a {
  background-color: black;
  color: white;
  font-family: "JSArirang-Regular";
  font-size: 110%;
}

.user-box a:hover {
  background-color: #ffd4d1;
}

#sign-in.off,
#sign-up.off {
  display: none;
}

#sign-out,
#item-upload,
#user-info {
  display: none;
}

#sign-out.on,
#item-upload.on,
#user-info.on {
  display: block;
}

#chattinging {
  display: none;
}

#chattinging.on {
  display: block;
}

#loginDisplay {
  width: 150px;
  align-items: center;
  display: none;
}
#loginDisplay div:first-child {
  margin-left: 20px;
}

#searchBox {
  background-color: white;
  border-radius: 10px;
}

#searchBox:first-child {
  padding: 5px;
}

#searchBox > img {
  width: 25px;
}

#search {
  background-color: white;
  padding: 10;
  width: 250px;
  border: none;
  border-radius: 10px;
  /* margin-left: 300px; */
  font-family: "maple-light";
  outline: none;
}

.reverse img:first-child {
  display: block;
}

.reverse.start img:first-child {
  display: none;
}

.reverse img:last-child {
  display: none;
}

.reverse.start img:last-child {
  display: block;
}

#invert {
  filter: invert(100%);
}

#reverse img {
  width: 120px;
}

#reverse.start img {
  width: 80px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.footer-container img {
  width: 150px;
}

#spantext {
  border-top: 1px var black;
  text-align: center;
}

body.start .footer-container {
  font-size: 200px;
}

body.start .footer-container #invert {
  width: 500px;
  display: none;
}

section {
  padding: 20px;
  text-align: center;
}

section a {
  margin: 0 10px;
}

/* 메뉴바 끝 */

/* 리버스 */
body.start div {
  font-family: "JSArirang-Regular";
  font-size: 100%;
}
body.start .satan {
  font-family: "satan";
}

body.start {
  background-color: black;
  color: white;
}

body.start .satan#paytitle {
  font-size: 200%;
}
body.start .satan#paybody {
  font-size: 110%;
}
body.start #no1back {
  color: whitesmoke;
}
body.start #no1backimg {
  filter: invert(1);
}
body.start #gear {
  filter: invert(1);
}
body.start #testuser {
  filter: invert(1);
}
body.start #imgName {
  opacity: 0.8;
  color: whitesmoke;
}
body.start #arrow {
  filter: invert(1);
}
body.start #item1img {
  filter: invert(1);
}
body.start #item2img {
  filter: invert(1);
}
body.start #item3img {
  filter: invert(1);
}
body.start #item4img {
  filter: invert(1);
}
body.start #myPlacelocalimg {
  filter: invert(1);
}
body.start #servicecenter {
  filter: invert(1);
}
body.start #alim {
  filter: invert(1);
}

body.start #meil {
  filter: invert(1);
}
body.start #masterprofileimg {
  filter: invert(1);
}
body.start #masterprofileimg1 {
  filter: invert(1);
}
body.start #masterprofileimg2 {
  filter: invert(1);
}
body.start #nextBtn3 {
  filter: invert(1);
}
body.start #item3title {
  margin-left: 20px;
}
body.start #itemBoard a {
  font-size: 110%;
}

.item-trade {
  margin-left: 28px;
}

#editbtnimg {
  cursor: pointer;
}
