* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "maple-bold";
  background: #f0e8d5;
}

#mainback {
}
#backimg {
  position: relative;
  float: right;
  margin: 200px;
  width: 350px;
  height: 400px;
  background-color: #f0e8d5;
  background-image: #f0e8d5 url(./img/back1122.jpg);
  background-repeat: no-repeat;
}
#bgp {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 27%;
  width: 700px;
  height: 1000px;
}
#leftimg {
  position: fixed;
  width: 100px;
  height: 50vh;
  margin-top: 100px;
}
#bottomimg {
  position: fixed;
  margin-left: 20px;
  margin-top: 50vh;
  width: 50vh;
  height: 100px;
}
#topimg {
  position: fixed;
  margin-left: 10px;
  width: 50vh;
  height: 100px;
}
#rightimg {
  position: fixed;
  margin-left: 90%;
  width: 100px;
  height: 50vh;
}
#menu {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  opacity: 0.6;
}
#imgName {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  opacity: 0.6;
}
#pay {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  opacity: 0.6;
}
#list {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  opacity: 0.6;
}
#myActivity {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  opacity: 0.6;
}
#myPlace {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  opacity: 0.6;
}
#master {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  opacity: 0.6;
}
