* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "maple-bold";
  background: #ede5d4;
}
#no1back {
  opacity: 0.83;
  z-index: 3;
}
#mainback {
  width: 100%;
  display: flex;
}
#no1backimg {
  position: absolute;
  float: right;
  top: 31%;
  left: 56%;
  width: 30%;
  opacity: 0.63;
}
#bgp {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border: none;
  border-radius: 5%;
  margin-top: 20px;
  margin-left: 27%;
  width: 700px;
}

#menu {
  display: flex;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  box-sizing: content-box;
  position: relative;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 40px;
}
#menugear {
  display: flex;
  position: relative;
  margin-right: 10px;
}
#gear {
  width: 35px;
  height: 35px;
}
#menuTitle {
  width: 200px;
  height: 20px;
  display: flex;
  position: relative;
  font-size: 27px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#imgName {
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
  position: relative;
  border: 1px solid black;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}
#photo {
  position: relative;
  width: 90px;
  height: 90px;
  opacity: 0.8;
}
#testuser {
  margin-top: 5px;
  margin-left: 5px;
  width: 90px;
  height: 90px;
}
#userinfo {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: -400px;
}
#userid {
  margin: 5px;
}
#username {
  margin: 5px;
}
#userlocal {
  margin: 5px;
}
#proflie {
  display: flex;
  width: 50px;

  margin-left: 5px;
  margin-right: 10px;
}
#arrow {
  width: 50px;
  height: 50px;
}
#pay {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 4.2px dashed orange;
  border-radius: 10px;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  width: 99.2%;
  height: 50px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
#payimg {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
#paytitle {
  width: 20px;
  display: flex;
  position: relative;
  font-size: 20px;
  margin-left: 10px;
}
#paybody {
  display: inline-block;
  position: relative;
  font-size: 20px;
  margin-left: 300px;
}

#list {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}
#listItemall {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
#itemtitle {
  display: flex;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 160px;
  height: 20px;
}
#item1234 {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}
#item1 {
  position: relative;
  margin-right: 50px;
  width: 50px;
}
#item2 {
  position: relative;
  margin-right: 50px;
  width: 50px;
}
#item3 {
  position: relative;
  margin-right: 50px;
  width: 50px;
}
#item4 {
  position: relative;
  margin-right: 110px;
  width: 50px;
}
#item1img {
  position: relative;
  margin-top: 26px;
  width: 50px;
}
#item2img {
  position: relative;
  margin-top: 26px;
  width: 50px;
}
#item3img {
  position: relative;
  margin-top: 26px;
  width: 50px;
}
#item4img {
  position: relative;
  margin-top: 26px;
  width: 50px;
}
#item1title {
  display: flex;
  margin-left: -38px;
  margin-right: 45px;
}
#item2title {
  display: flex;
  margin-right: 40px;
}
#item3title {
  display: flex;
  margin-right: 50px;
}
#item4title {
  display: flex;
}
#listItemtitle {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-left: 195px;
}

#myPlace {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  background-color: rgba(255, 255, 255, 0.5);
}
#myPlaceno1 {
  display: block;
  position: relative;
  width: 50px;
}
#myPlacetitle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 160px;
  height: 20px;
  border-radius: 30px;
  margin-left: 5px;
}
#myPlacelocal {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  height: 66px;
  margin-left: 180px;
}

#myPlacelocalimg {
  width: 50px;
  height: 50px;
}

#myPlacelocaltitle {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin-left: -10px;
}
#myPlaceService {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  margin: auto;
}
#myPlacelocalservice {
  width: 80px;
}
#servicecenter {
  width: 50px;
  height: 50px;
}
#myPlacealim {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  height: 66px;
  margin: auto;
}
#myPlacealimtitle {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 140px;
  height: 50px;
  margin-left: -20px;
  margin-right: 30px;
}
#alim {
  width: 50px;
  height: 50px;
}
#myPlacemeil {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  height: 66px;
  margin: auto;
}
#myPlacemail {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50px;
  height: 66px;
  margin: auto;
}
#meil {
  width: 50px;
  height: 50px;
}
#myPlaceemailtitle {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  /* margin-left: -20px;
  margin-right: 30px; */
}
#master {
  display: flex;
  box-sizing: content-box;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  background-color: #f4efe5;
  box-shadow: 3px 3px 3px #a5a094;
  background-color: rgba(255, 255, 255, 0.5);
}

#mastertitle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 160px;
  height: 20px;
  border-radius: 30px;
  margin-left: 5px;
}
.masterAdd {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 160px;
}
#masterprofileimg {
  width: 50px;
  height: 50px;
}
#masterprofileimg1 {
  width: 50px;
  height: 50px;
}
#masterprofileimg2 {
  width: 50px;
  height: 50px;
}
#masterprofiletitle {
  display: flex;
  align-items: center;
}

/* 메뉴바 시작 */

.top-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  background-color: rgb(245, 242, 250);
  /* background-color: rgb(231, 231, 248); */

  opacity: 0.97;
  z-index: 999;
  top: 0;
}

.top-container.start {
  background-color: black;
}

.top-container div {
  display: flex;
}

.home-box {
  height: 100%;
  margin-left: 100;
  display: flex;
  align-items: center;
  /* cursor: pointer; */
}

body.start .home-box {
  margin-left: 0;
}

body.start .home-box div {
  font-size: 100px;
  color: white;
}
.home-box div {
  height: 100%;
  align-items: center;
}

.category-box {
  /* width: 45%; */
  /* margin-left: 20; */
  margin: 0 20px;
  /* flex:3 */
}
.home-box div img:first-child {
  height: 130%;
}

.home-box div img:last-child {
  height: 90%;
  /* display: none; */
}

.category-box a {
  cursor: pointer;
  /* margin-left: 100; */
  width: 100px;
}

body.start .category-box a {
  color: white;
}

.category-box a:hover {
  color: gray;
}

.user-box {
  margin: 0 20;
  align-items: center;
}

.user-box button {
  cursor: pointer;
  padding: 10;
  margin: 0 10;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #ffead8;
  font-family: "maple-bold";
  font-size: 14px;
}

body.start .user-box button {
  background-color: black;
  color: white;
  font-family: "JSArirang-Regular";
  font-size: 120%;
}

.user-box button:hover {
  background-color: #ffd4d1;
}

.user-box a {
  cursor: pointer;
  padding: 10;
  margin: 0 10;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #ffead8;
  font-size: 14px;
  font-family: "maple-bold";
  text-align: center;
}

body.start .user-box a {
  background-color: black;
  color: white;
  font-family: "JSArirang-Regular";
  font-size: 120%;
}

.user-box a:hover {
  background-color: #ffd4d1;
}

#sign-in.off,
#sign-up.off {
  display: none;
}

#sign-out,
#item-upload,
#user-info {
  display: none;
}

#sign-out.on,
#item-upload.on,
#user-info.on {
  display: block;
}

#chattinging {
  display: none;
}

#chattinging.on {
  display: block;
}

#loginDisplay {
  width: 150px;
  align-items: center;
  display: none;
}
#loginDisplay div:first-child {
  margin-left: 20px;
}

#search {
  background-color: lightgray;
  padding: 10;
  width: 250px;
  border: none;
  border-radius: 10px;
  /* margin-left: 300px; */
}

.reverse img:first-child {
  display: block;
}

.reverse.start img:first-child {
  display: none;
}

.reverse img:last-child {
  display: none;
}

.reverse.start img:last-child {
  display: block;
}

#invert {
  filter: invert(100%);
}

#reverse img {
  width: 120px;
}

#reverse.start img {
  width: 80px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: black;
}

/* 메뉴바 끝 */
