@font-face {
  font-family: "maple-bold";
  src: url("./font/Maplestory\ Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "maple-light";
  src: url("./font/Maplestory\ Light.ttf");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-none {
  display: none !important;
}

.red-border {
  border: 2px solid rgba(255, 9, 9, 0.5) !important;
  outline: 2px solid rgba(255, 9, 9, 0.5) !important;
}

.green-border {
  border: 2px solid rgba(45, 238, 103, 0.5) !important;
  outline: 2px solid rgba(45, 238, 103, 0.5) !important;
}

body {
  font-size: 18px;
  font-family: "maple-light";
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
}

input {
  font-family: inherit;
}

input[type="text"] {
  font-size: 24px;
}

.main-colum {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding: 20px;
}

#img-uploader {
  display: none;
}

#img-uploader-label {
  cursor: pointer;
  background-color: rgb(238, 111, 45);
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  width: 100px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.img-block {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  display: inline-flex;
  position: relative;
  border: 1px dashed rgb(220, 219, 228);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.img-block:hover {
  background-image: url(../image/xmark.svg);
  opacity: 0.6;
}

.img-block:hover img {
  opacity: 0.75;
  cursor: pointer;
}

.img-block img {
  width: 100%;
  border-radius: 10px;
}

.main-colum-items {
  display: flex;
  padding: 30px;
  padding-left: 10px;
  border-bottom: 1px solid rgb(220, 219, 228);
  flex-wrap: wrap;
}

.main-colum-items.local {
  flex-wrap: nowrap;
}

.main-colum-right-inner div {
  display: flex;
}

.local-div.main-colum-items.local .main-colum-right-inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-colum-left {
  width: 150px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-colum-right {
  flex-grow: 1;
}

#price-input {
  font-family: initial;
}

textarea,
#price-input,
#title-input {
  width: 800px;
  padding: 5px;
  padding-left: 10px;
  border: 2px solid rgb(220, 219, 228);
  outline: 2px solid rgba(0, 0, 0, 0);
}

textarea:focus,
#price-input:focus,
#title-input:focus {
  border: 2px solid rgba(238, 111, 45, 0.5);
  outline: 2px solid rgba(238, 111, 45, 0.5);
}

.price-div span {
  margin-left: 10px;
  font-weight: bold;
}

.main-colum-items:first-child {
  border-top: 2px solid black;
  height: 300px;
}
.main-colum-items:last-child {
  border-bottom: 2px solid black;
}

.categories-div label,
.condition-div label,
.tuning-div label,
.dealing-div label {
  margin-left: 100px;
}

.local-div label {
  margin-left: 80px;
}

.local-div label:first-child,
.categories-div label:first-child,
.condition-div label:first-child,
.tuning-div label:first-child,
.dealing-div label:first-child {
  margin-left: 5px;
}

[type="radio"] {
  margin-left: 5px;
  width: 16px;
  height: 16px;
  accent-color: rgb(238, 111, 45);
  cursor: pointer;
}

.main-colum-right-inner:first-child {
  margin-bottom: 15px;
}

.main-colum-items .main-colum-right {
  position: relative;
}

#textarea-placeholder {
  color: rgb(155, 153, 169);
  position: absolute;
  top: 0;
  padding: 10px;
  pointer-events: none;
}

#textarea-placeholder div {
  font-size: 14px;
  margin-bottom: 10px;
}

.confirm-div {
  position: sticky;
  bottom: 0;
  border: 1px solid rgb(220, 219, 228);
  padding: 20px;
  width: 100%;
  /* background-color: white; */
  background-color: rgb(255, 240, 229);
  text-align: right;
}

.confirm-btn {
  background-color: rgb(238, 111, 45);
  border: none;
  padding: 5px;
  width: 200px;
  height: 70px;
  font-size: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 200px;
}

.confirm-btn:hover {
  background-color: rgb(215, 88, 22);
}

#price-input::-webkit-outer-spin-button,
#price-input::-webkit-inner-spin-button {
  appearance: none;
}

#jelly-label {
  background-color: rgba(238, 111, 45, 0.2);
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px;
}

#jelly-label input {
  display: none;
}

#jelly-label span {
  display: inline-block;
  vertical-align: middle;
}

#jelly-label .icon {
  position: relative;
  width: 17px;
  height: 17px;
  border: 1px solid gray;
  border-radius: 5px;
  transition: background 0.1s ease;
  margin-left: 5px;
}

#jelly-label .icon::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg) scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.15s;
  opacity: 0;
}

#jelly-label input:checked ~ .icon {
  border-color: transparent;
  background: #ff1616;
  animation: jelly 0.6s ease;
}

#jelly-label input:checked ~ .icon::after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

.guide {
  width: 100%;
  margin-left: 160px;
  margin-top: 10px;
  padding: 5px;
}

.guide img {
  vertical-align: middle;
  width: 19px;
}

.guide span {
  vertical-align: middle;
  margin-left: 8px;
  color: rgb(155, 153, 169);
}

/*  */
/*  */
/*  */
/*  */
/*  */

body.start div {
  font-family: "JSArirang-Regular";
}
body.start .satan {
  font-family: "satan";
}

.top-container {
  width: 100%;
  /* position: fixed; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  background-color: rgb(245, 242, 250);
  font-size: 16px;
  opacity: 0.97;
  z-index: 999;
}

.top-container,
.footer-container,
.footer-container ~ * {
  font-weight: bold;
}

.top-container.start {
  background-color: black;
}

.top-container div {
  display: flex;
}

.home-box {
  height: 100%;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

body.start .home-box {
  margin-left: 0;
}

body.start .home-box div {
  font-size: 100px;
  color: white;
}
.home-box div {
  height: 100%;
  align-items: center;
}

.category-box {
  margin: 0 20px;
}
.home-box div img:first-child {
  height: 130%;
}

.home-box div img:last-child {
  height: 90%;
}

.category-box a {
  cursor: pointer;
  width: 100px;
}

body.start .category-box a {
  color: white;
}

.category-box a:hover {
  color: gray;
}

.user-box {
  margin: 0 20px;
  align-items: center;
}

.user-box button {
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #ffead8;
  font-family: "maple-bold";
  font-size: 14px;
}

body.start .user-box button {
  background-color: black;
  color: white;
  font-family: "JSArirang-Regular";
  font-size: 120%;
}

.user-box button:hover {
  background-color: #ffd4d1;
}

.user-box a {
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: #ffead8;
  font-size: 14px;
  font-family: "maple-bold";
  text-align: center;
}

body.start .user-box a {
  background-color: black;
  color: white;
  font-family: "JSArirang-Regular";
  font-size: 120%;
}

.user-box a:hover {
  background-color: #ffd4d1;
}

#sign-in.off,
#sign-up.off {
  display: none;
}

#sign-out,
#item-upload,
#user-info {
  display: none;
}

#sign-out.on,
#item-upload.on,
#user-info.on {
  display: block;
}

#chatting {
  display: none;
}

#chatting.on {
  display: block;
}

#loginDisplay {
  width: 150px;
  align-items: center;
  display: none;
}
#loginDisplay div:first-child {
  margin-left: 20px;
}

#search {
  background-color: lightgray;
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 10px;
  font-family: arial;
}

.home-second {
  width: 100%;
  height: 724px;
  padding-top: 100px;
  background-color: rgb(238, 254, 255);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-second div div:first-child {
  font-size: 2.5rem;
}

.div-img {
  width: fit-content;
  border-radius: 15px;
  margin-right: 10rem;
}

.reverse img:first-child {
  display: block;
}

.reverse.start img:first-child {
  display: none;
}

.reverse img:last-child {
  display: none;
}

.reverse.start img:last-child {
  display: block;
}

.home-second div img {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 10px #8abbff);
}

.home-first div img {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 10px #f98f68);
}

.btnbox {
  padding-top: 30px;
}

.btnbox button {
  border: none;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.btnbox button:hover {
  background-color: gray;
}
.home-first {
  width: 100%;

  height: 724px;
  background-color: rgb(254, 240, 214);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.home-first div:first-child {
  margin-right: 150px;
}

.home-first div div:first-child {
  font-size: 2.5rem;
}

body.start .home-first div div:first-child {
  font-size: 250%;
  line-height: 50px;
  margin-bottom: 30px;
}

.bgc.start {
  background-color: black;
  color: white;
}

#invert {
  filter: invert(100%);
}

#reverse img {
  width: 120px;
}

#reverse.start img {
  width: 80px;
  margin-right: 30px;
}

#item-board-title {
  font-size: 100px;
  text-align: center;
  padding: 100px;
}

.item-category-box {
  display: flex;
  padding: 50px;
  justify-content: flex-end;
}

select {
  margin: 10px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.item-board-display {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.item {
  margin-bottom: 50px;
  width: calc(25% - 40px);
}

.item-board.bgc.start a {
  color: white;
}

.item-link {
  width: 100%;
}

.item-top {
  width: 300px;
  height: 300px;
}

.item-top .item-img img {
  width: 80%;
  height: 100%;
}

.item-bottom {
  display: flex;
}

.item-title {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.footer-container img {
  width: 150px;
}

#spantext {
  border-top: 1px var black;
  text-align: center;
}

body.start .footer-container {
  font-size: 200px;
}

body.start .footer-container #invert {
  width: 500px;
  display: none;
}

section {
  padding: 20px;
  text-align: center;
}

section a {
  margin: 0 10px;
}

body.start {
  background-color: black;
  color: white;
  font-size: 16px;
}

body.start .top-container {
  font-weight: normal;
  font-size: 120%;
}

body.start .category-box,
body.start .user-box,
body.start #loginDisplay,
body.start #loginDisplay div {
  font-size: 120%;
}

body.start #img-uploader-label {
  width: 120px;
}

body.start #submit-form {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2px;
}

body.start input[type="text"],
body.start textarea {
  background-color: lightgrey;
}

body.start .confirm-div {
  background-color: rgb(107, 107, 107);
}

body.start #jelly-label {
  background-color: rgb(46, 46, 46);
}

body.start #img-uploader-label,
body.start .confirm-btn {
  background-color: rgb(200, 40, 40);
}

body.start .footer-container {
  font-size: 240px;
  font-weight: normal;
}

body.start .footer-container ~ *,
body.start .footer-container ~ * span,
body.start section a {
  font-weight: normal;
  font-size: 120%;
}

body.start .main-colum {
  width: 1200px;
}

body.start .img-div .main-colum-left {
  max-height: 237px;
}

body.start .extra-div {
  color: rgb(200, 40, 40);
  display: block !important;
}
