*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family:"maple-bold";
}

.top-container{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    background-color: white

   
}

.top-container div{
    display: flex;
    font-family: "maple-bold";
}

.home-box{
    height: 100%;
    margin-left: 100;
    display: flex;
    align-items: center;
   cursor: pointer;
   
}
.home-box div{
    height: 100%;
    align-items: center;
}

.home-box div img{
height: 100%;
}

.category-box{
    /* width: 45%; */
    margin-left: 20;
    /* flex:3 */
}

.category-box div{
    cursor: pointer;
    margin-left: 100;
    
}

.category-box div:first-child:hover{
    color:black;
}

.category-box div:hover{
    color:gray;
}

.user-box {
   margin-right: 100;
}

.user-box button{
    cursor: pointer;
    padding: 10;
    margin: 0 10;
}

#sign-in.off,#sign-up.off{
    display: none;
}


#sign-out{
    display: none;
}

#sign-out.on {
    display: block;
} 

#chatting{
    display: none;
}

#chatting.on{
    display: block;
}

#loginDisplay{
    align-items: center;
}

#search{
    
    background-color: lightgray;
    padding: 10;
    width: 250px;
    border: none;
    border-radius: 10px;
}
.home-container{
 /* background-color: lightyellow; */
}



.home-second {
    width: 1024px;
    height: 724px;
    padding-top:100px ;
    background-color: blue;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.home-second div div:first-child{
    font-size: 2.5rem;
    /* margin-bottom: 10px; */
}

.div-img {
    height: 100%;
}

.home-second div img{
    height: 80%;
    padding-left: 80px;
    padding-right: 100px;
}

.btnbox{
    padding-top: 30px;
}

.btnbox button{
    border: none;
    background-color: lightgray;
    padding: 10;
    border-radius: 10px;
   margin: 0 5px;
   cursor: pointer;
}
.btnbox button:hover{
    background-color: gray;
}
.home-first {
    width: 1024px;
    height: 724px;
    /* background-color: greenyellow; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.home-first div:first-child{
    /* padding-left: 50px; */
    /* background-color: red; */
    margin-right: 150px;
}

.home-first div div:first-child{
    font-size: 2.5rem;
    /* margin-bottom: 10px; */
}




.home-first div img{
    /* width: 80%; */
    width: 400px;
    height: 500px;
}