* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "maple-bold";
}
body.start div{
    font-family:"satan";
}

.top-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  background-color: rgb(231, 231, 248);
  opacity: 0.95;
  z-index: 999;
}

.top-container.start{
    background-color: black;
    
}


.top-container div {
  display: flex;
}


.home-box{
    height: 100%;
    margin-left: 100;
    display: flex;
    align-items: center;
   cursor: pointer;
   
}

body.start .home-box div{
    font-size: 100px;
}
.home-box div{
    height: 100%;
    align-items: center;
}

.category-box {
  /* width: 45%; */
  margin-left: 20;
  /* flex:3 */
}
.home-box div img:first-child{
    height: 200%;
    }

 .home-box div img:last-child{
    height: 90%;
    /* display: none; */
 }

/* .reverse.start div:first-child img{
    display: none;
}

.reverse.start div:nth-child(2) img{
    display: block;
} */



.category-box div {
  cursor: pointer;
  margin-left: 100;
}

.category-box div:first-child:hover {
  color: black;
}

.category-box div:hover {
  color: gray;
}

.user-box {
  margin-right: 100;
}

.user-box button {
  cursor: pointer;
  padding: 10;
  margin: 0 10;
}
#sign-in.off,#sign-up.off{
    display: none;
}

#sign-out{
    display: none;
}

#sign-out.on {
    display: block;
} 

#chatting{
    display: none;
}

#chatting.on{
    display: block;
}


#loginDisplay{
    align-items: center;
}

#search {
  background-color: lightgray;
  padding: 10;
  width: 250px;
  border: none;
  border-radius: 10px;
}
.home-container {
  /* background-color: lightyellow; */
}

.home-second {
  width: 100%;
  height: 724px;
  padding-top: 100px;
  background-color: rgb(238, 254, 255);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-second div div:first-child {
  font-size: 2.5rem;
  /* margin-bottom: 10px; */
}
.home-second div:last-child {
  /* background-color: red; */
}
.div-img {
  width: fit-content;
  /* height: 100%; */
  border-radius: 15px;
  margin-right: 10rem;
}

.reverse img:first-child{
    display: block;
}

.reverse.start img:first-child{
    display: none;
}

.reverse img:last-child {
    display: none;
}

.reverse.start img:last-child {
    display: block;
}


.home-second div img {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 10px #8abbff);
}

.home-first div img {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  filter: drop-shadow(5px 5px 10px #f98f68);
}

.btnbox {
  padding-top: 30px;
}

.btnbox button {
  border: none;
  background-color: lightgray;
  padding: 10;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.btnbox button:hover {
  background-color: gray;
}
.home-first {
  width: 100%;

  height: 724px;
  background-color: rgb(254, 240, 214);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}


.home-first div:first-child {
  /* padding-left: 50px; */
  /* background-color: red; */
  margin-right: 150px;
}

.home-first div div:first-child {
  font-size: 2.5rem;
  /* margin-bottom: 10px; */
}

.bgc.start {
    background-color: black;
    color: white;
    
}

#invert{
    filter: invert(100%);
}

#reverse img{
    width: 60%;
}